<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SHOP-SMART</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
        <servlet-name>shopsmart</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>shopsmart</servlet-name>
        <url-pattern>/register.jsp</url-pattern>
        <url-pattern>/index.jsp</url-pattern>
        <url-pattern>/login.jsp</url-pattern>
        <url-pattern>/homepage.jsp</url-pattern>
        <url-pattern>/productdetails.jsp</url-pattern>
        <url-pattern>/shoppingcart.jsp</url-pattern>
        <url-pattern>/createAccount.jsp</url-pattern>
        <url-pattern>/forgotpassword.jsp</url-pattern>
        <url-pattern>/HelpContact.jsp</url-pattern>
        <url-pattern>/conditions.jsp</url-pattern>
        <url-pattern>/privacy.jsp</url-pattern>
        <url-pattern>/copyright.jsp</url-pattern>
        <url-pattern>/sellerPage.jsp</url-pattern>
        <url-pattern>/cartAndPayment.jsp</url-pattern>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
</web-app>