.body {
	display: flex;
	flex-direction: column;
	background-size: cover;
	height: 100%
	margin: 0;
	padding: 0;
	font-family: cursive;
	color: #00008B;
}

#jumbotron{
	 background-color: yellow;
	 background-image: url(‘C:/Users/srini/Desktop/SJSU/sellerPage/myProj/trial.jpg’);
	 background-size: cover;
	 background-repeat: no-repeat;
}

.help{
	position: absolute;
	top: 8px;
	right: 16px;
}

.logo {
	position: absolute;
	top: 8px;
	left: 16px;
	height: auto;
	width: 10%;
}

.button {
	position: absolute;
	top: 8px;
	right: 16px;
}

.footer {
   position:relative;
   padding-top: 20px;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.figure-caption {
	font-size: 90%;
	color: black;
	text-transform: uppercase;
	font-weight: 600;
}

.img-thumbnail {
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin-top: 200px;
	padding: 2px;
	border: 2px solid black;
	border-radius: 0;
	background-color: c0c0c0;
}

.img-thumbnail img{
	height: 100%;
}

.thumbnail{
	margin-top: 50px;
	height: 90%;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.second {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 80%;
}

.thumbnail-main {
	width: 300px;
	height: 300px;
	overflow: hidden;
	margin-top: 50px;
	padding: 2px;
	margin-bottom: 200px;
	border: 2px solid black;
	border-radius: 0;
	height: 60%;
}

.center {                 /*for footer*/
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    width: 85%;
	padding-top: 20px;
}


.center-img {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
	margin-top: 20px;
    width: 85%;
	padding-top: 20px;
}

.trial {
	padding-top: 150px;
}

.text-center {
	margin-top: 30px;
	padding-bottom: 20px; 
}

.btn-align {
	 margin-left: 450px;
	 padding-top: 450px;
	 padding-bottom: 10px;
}

.filePad {
	padding-left: 15px;
}

.picPad {
	padding-top: 20px;
	padding-left: 13px;
}

.form-control {
	font: italic;
}

.button-pad {
	padding-left: 20px;
}

.leftPad {
	margin-left: 100px;
}

.rightPad {
	padding-left: 50px;
}

.btn-toolbar {
	margin-left: 400px; 
	
}

.tri {
	margin-top: 100px;
}

/*-----------------------------*/

myform{
	background: rgba(255,255,255,0.5);
	opacity: 0.5;
}

.button{
	position: absolute;
	top: 8px;
	right: 16px;
}


.login
{
	width: 370px;
	height: 350px;
	background: transparent;
	color: #00008B;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	border: 0.0px solid black;
	box-sizing: border-box;
	padding: 40px 70px;
}

.logo
{
	width: 100px;
	height: 70px;
}


h1
{
	height: 60%;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 50px;

}

.login p
{
	margin: 0;
	padding: 0;
	font-weight: bold;

}


.login input
{
	width: 100%;
	margin-bottom: 20px;
}

.login input[type="email"],input[type="password"]
{

	border: none;
	border-bottom: lpx solid #fff;
	background: 86B5CD;
	outline: none;
	height: 30px;
	color: #00008B;
	font-size: 16px;
	border-radius: 5px;

	text-align: center;
	text-decoration: none;
}


.login input[type="submit"]
{
	border: none;
	outline: none;
	height: 28px;
	background: 86B5CD;
	color:#00008B;
	font-size: 18px;
	border-radius: 10px;
	text-align: center;
}

.login input[type="submit"]:hover
{
	background: #00008B;
	color: #FFF;
}

.mylink a:link{
	text-decoration: none;
	color: #000000;
	bottom: 20;
}
.mylink a:visited{
	text-decoration: none;
	color:#663399;
}

.mylink a:hover{
	background: #00008B;
	color: #FFF;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em -70;
    padding: 0;
}

.cart1{
	padding-left: 10px;
}

.tabCheck {
	margin-left: 50px;
}

.col-sm-10 {
	padding-bottom: 10px;
}

.classy {
	padding-top: 80px;
}

.tabCheck1 {
	margin-left: 2px;
}